h1 {
  margin: 0;
}

/* similarly as flex, parent container mai jab tk display:grid nhi hoga tab tk koi properties nhi chalengi */
.grid-container {
  width: 500px;
  height: 500px;
  margin: 80px auto;
  background-color: black;
  /* display: flex; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 50px; */

  /* grid-template:1fr 1fr 1fr/1fr 1fr 1fr ; */
  /* it is same as above just divide rows/columns */

  /* grid-template-columns: minmax(100px, 1fr) minmax(200px, 1fr) minmax(100px,1fr); */
  /* (min-width,max-width) upr vale func mai */

  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
/* sab ek hi banane ke alag tareeke h */

   /* column-gap: 20px; 
   row-gap: 20px; */
   gap: 20px;

}

.item {
  color: white;
  font-size: 20px;
  text-align: center;
}
